/*
	autor:			@khrizenriquez #afro-K
*/
//		Área de importación
@import url( "http://fonts.googleapis.com/css?family=Open+Sans:300" )
@import url( "elusive-webfont.css" )
@import url( "bootstrap.min.css" )
@import normalize

colorFondo = #2980b9;

//		Selectores generales
body
	background colorFondo
	font-family 'Open Sans', sans-serif
	font-size 16px
	text-align center
h1
	color #ecf0f1
	font-size 2.5em
	text-decoration underline
p
	text-align left
section
	padding 1em
textarea
	resize none
//		Selectores por id
#datos, #contenido
	display inline-block
	vertical-align top
#datos
	background white
	border-radius .3em
	padding .5em
	width 35%
	i
		color colorFondo
		font-size 15em
	label
		border-bottom 1px dashed black
		text-align left
		width 100%
#contenido
	width 60%
//		Selectores por clase